/*csvをフロントに表示する際に、用いるcss*/

body {
    background: #e0e5ec;
	font-family: 'Noto Sans JP', sans-serif;
	font-family: 'Playfair Display', serif;
    font-weight: 100;
}

h2 {
    margin-top: 50px;
    margin-bottom: 50px;
}

h3{
    margin-top: 1em;
    margin-bottom: 1em;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
    width: 70%;
    margin: 3px auto; 
}

table#color_list {
    width: 600px;
    border-spacing: 0;
    color: #212121;
    text-align: center;
    overflow: hidden;
    box-shadow: 9px 9px 16px rgb(163 177 198 / 60%), -9px -9px 16px rgb(255 255 255 / 60%);
}

.navbar-brand{
	font-size: 5em;
}

#defaultCanvas0{
    position: fixed;
    top: 0;
}
