{% extends 'base.html' %}
{% load django_bootstrap5 %}

{% block main %}
{% if user.is_authenticated %}
{% comment %} <h3><a class="subtitile" href="{% url 'django_app:new' %}">フォームを登録する</a><br></h3> {% endcomment %}
<h3><a class="subtitile" href="{% url 'django_app:create' %}">アンケートを新規作成する</a><br></h3>
<h3><a class="subtitile" href="{% url 'django_app:questionnaires' %}">作成したアンケート一覧</a><br></h3>
{% comment %} <h3><a class="subtitile" href="{% url 'django_app:info' %}">情報を確認する</a></h3> {% endcomment %}
{% endif %}
{% endblock main %}