{% extends 'base_nofeeling.html' %}
{% load django_bootstrap5 %}

{% block main %}
<h2>「{{questionnaire}}」の情報</h2>


{% if exists_wordcloud %}
    <img src="data:image/png;base64,{{wc_base64Img}}"/>
{% endif %}
<br>
<br>
<br>
{% if exists_psn_freq %}
    <img src="data:image/png;base64,{{psn_freq_base64Img}}"/>
{% endif %}
<table class="table table-hover table-light">
    <tr>
        <th>name</th>
        <th>日報</th>
        <th>Score</th>
    </tr>
    {% for dr in daily_reports %}
    <tr>
        <td>{{ dr.author }}</td>
        <td>{{ dr.text }}</td>
        <td>{{ dr.score }}</td>
    </tr>
    {% endfor %}
</table>

{% endblock main %}